$primary-bgcolor: #7f56d9;
$secondary-bgcolor: #fff;

$primary-color: white;
$secondary-color: #344054;

$tertiary-bgcolor: #7c4dff;
$tertiary-color: #fff;

$primary-text-color: #101828;
$input-border-color: #d0d5dd;
$focus-border-color: #3498db;

$grey-color: grey;
